.dropDown {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  background-color: #F2F2F2;
  width: 100%;
  height: 500px;
  padding: 0 24px;
  z-index: 200;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropDown.inputExpanded {
  /* border-radius: 8px 8px 0 0; */
  max-height: 500px;
  opacity: 1;
}

.content {
  position: relative;
  background-color: #F2F2F2;
  z-index: 200;
}

.unlistOrder {
  padding-left: 0;
  font-weight: bold;
  font-size: 1rem;
}

.unlistOrder li {
  list-style: none;
  padding-left: 16px;
  font-weight: 300;
}

.unlistOrder li:first-child {
  padding-top: 8px;
}

.titleCards {
  font-size: 1rem;
  font-weight: bold;
}

.gridContainer {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 1rem;
  margin-top: 16px;
}
