/* SearchBar.css */

.searchContainer {
  position: relative;
  border-radius: 24px; /* Ajusta según tus necesidades */
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 0;
  width: 100%;
}

.searchContainer.expanded {
  width: 590px; /* Ancho máximo cuando está expandido */
}

.searchContainer:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.searchIconWrapper {
  padding: 0 16px; /* Ajusta según tus necesidades */
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  width: 24px; /* Ajusta según tus necesidades */
  height: 24px; /* Ajusta según tus necesidades */
}

.searchInput {
  color: #000000;
  font-weight: bold;
  padding: 8px 8px 8px 40px; /* Espacio para el icono */
  background-color: #e3e3e8;
  border: none;
  border-radius: 24px; /* Ajusta según tus necesidades */
  width: 100%;
  font-family: 'Outfit', sans-serif; /* Asegúrate de que esta fuente esté disponible */
  transition: box-shadow 0.2s ease-in-out;
}

.searchInput:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Cambia el color según tu tema */
}

.closeButton{
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 900;
}