.cardBox {
  border: 1px solid #D9D9D9;
  padding: 0;
}

.imgContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.footer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title{
  font-size: 13.5px;
  line-height: 14px;
  font-weight: 600;
}

.brandTitle{
  font-size: 0.9rem;
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 4px;
}

.priceRowDiscount {
  font-size: 16px;
  line-height: 18px;
}

.priceRowNormal{
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #666687;;
}